@model DearDiary.ViewModels.DiaryIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@Html.ActionLink("Write", "DiaryForm", "Diaries", new { @class = "btn btn-primary" })


@if (Model.Diaries.Count < 1)
{
    <p>You dont not have any memories </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Created</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model.Diaries)
            {
                <tr>
                    <th scope="row">@note.Id</th>
                    <td>
                        @Html.ActionLink(note.Title, "ViewDiary", "Diaries", new
                     {
                @note.Id
               }, null)
                    </td>

                    <td>@note.Created</td>
                    <td>
                        @Html.ActionLink("Edit", "DiaryEdit", "Diaries", new
                   {
                       @note.Id
                   }, null)
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <ul>
    </ul>
}
